.container-full {
  margin: 0 auto;
  width: 100%;
}
.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}
.read-more(@color){
	color: @color;
	border-bottom: 2px solid @color;
	display: inline-block;
	text-align: left;
}
.wp-pagenavi{
	padding-top: 2em; 
}
