body{
	padding-top: 0;
	font-family: @default;
	background-color: @white2;
	font-size: 16px;
	color: @gray2;
}
a{
	&:hover{
		text-decoration:none;
	}	
}
h3{
	font-size: 1.500em; /*24px*/
	font-family: 'playbold';
	text-transform: uppercase;
}
h2{
	color: @gray;
	font-size: 2.250em; /*36px*/
	font-family: 'open_sansbold';
	margin-bottom: 30px;
	margin-top: 0;
}
.page #header{
	display: none;
}
.page #header{
	display: none;
}
.page header.header .navbar .navbar-collapse h2{
	visibility: visible;
}
.alert{
	display: none;
}
form {
	input{
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;	
	}
	input[type="submit"]{
		background-color: @red;
		color: @white;
		border:none;
		padding: 10px 20px;
	}
}
header.header{
	.navbar{
		background-color: @blue;
		background: url(../images/header-main.jpg) no-repeat top center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: @white;
		text-align: center;
		margin-bottom: 0 !important;
		.navbar-collapse{
			background-color: @blue-dark;
			width: 100%;
			z-index: 10000;
			h2{
				float: left;
				color: @white;
				font-size: 0.8em;
				line-height: 65px;
				margin-bottom: 0;
				visibility: hidden;
				a{
					color: @white;
				}
			}
		}
		#header{
			text-shadow: 2px 2px 0px #313766;
			a{
				color: @white;
			}
			img{
				margin-top: 20px;
			}
			h1{
				margin-top: 50px;
				font-size: 2.813em;
				margin-bottom: 0;
				font-family: 'open_sansbold';
				font-weight: bold;
			}
			h2{
				color: @white;
				text-shadow: 2px 2px 0px #504266;
				font-family: @default;
				margin-top: 0;
				margin-bottom: 0;
				margin-left: auto;
				margin-right: auto;
				font-style: italic;
				font-size: 2.188em;
			}
			.time_location{
				text-shadow: 2px 2px 0px #504266;
				font-family: 'open_sansbold';
				margin-top: 20px;
				margin-bottom: 20px;
				font-size: 1.875em; /*30px*/
			}
			.register{
				a{
					.red-button();
					text-shadow: none;
					margin-top: 70px;
					margin-bottom: 80px;
					font-size: 1.875em;
					font-weight: normal;
					letter-spacing: 2px;
					background-image: url(../images/icons.png);
					background-position: 160px -853px;
					background-repeat: no-repeat;
					padding-right: 70px;
				}
			}
			.social{
				margin-bottom: 55px;
				font-size: 1.500em;
				.twitter{
					padding-left: 70px;
					padding-top: 20px;
					padding-bottom: 20px;
					margin-right: 50px;
					background-image: url(../images/icons.png);
					background-position: 0 10px;
					background-repeat: no-repeat;
				}
				.facebook{
					padding-left: 70px;
					padding-top: 20px;
					padding-bottom: 20px;
					background-image: url(../images/icons.png);
					background-position: 0 -95px;
					background-repeat: no-repeat;
				}
			}
		}
		#menu-main-menu{
			width: 53%;
			float: none;
			margin-right: auto;
			margin-left: auto;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			li{
				a{
					font-size: 0.938em;
					margin: 0.1em;
					padding-left:20px; 
					padding-right:20px; 
					padding-top: 13px;
					padding-bottom: 13px;
					-webkit-border-radius: 8px;
					-moz-border-radius: 8px;
					border-radius: 8px;
					color: @white;
					webkit-transition: 0.25s;
					-moz-transition: 0.25s;
					-o-transition: 0.25s;
					transition: 0.25s;
					-webkit-backface-visibility: hidden;
					&:hover{
						background-color: @red;
					}
				}
				&.current-menu-item{
					a{
						background-color: @red;
					}
				}
			}
		}
	}
}
main{
	/*padding: 0 !important;*/
	.container{
		padding-left: 3em;
		padding-right: 3em;
	}
	#about{
		text-align: center;
		padding-bottom: 50px;
		padding-top: 40px;
		h2{
			margin-bottom: 0;
		}
		.text{
			margin-top: 40px;
			color: @gray2;
		}
		.vision{
			background: url(../images/icons.png) 38px -248px no-repeat;
			margin-top: 35px;
			padding-top: 40px;
			color: @gray;
			font-size: 1.500em;
			display: inline-block;
		}
	}
	#speakers{
		background: url(../images/speakers-bg.png) no-repeat top center #FFFFFF;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;		
		text-align: center;
		padding-bottom: 80px;
		padding-top: 50px;
		.container{
			padding: 0;
		}
		h2{
			margin-bottom: 50px;
		}
		.speaker-box{
			list-style: none;
			width: 300px !important;
			.photo-wrap{
				height: 211px;
				width: 211px;
				margin-left: auto;
				margin-right: auto;
				img{
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					-ms-border-radius: 50%;
					-o-border-radius: 50%;
					border-radius: 50%;
					border: solid 2px @gray2;
				}
			}
			.links{
				position: relative;
				bottom: 213px;
				right:-2px;
				height: 211px;
				width: 211px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				border-radius: 50%;
				&:hover{
					background-color: rgba(71, 78, 93, 0.8);
				}
				a{
					display: none;
					width: 50px;
					height: 50px;
					margin-top: 75px;
					&.facebook{
						background: url(../images/icons.png) 14px -1453px no-repeat;
					}
					&.twitter{
						background: url(../images/icons.png) -45px -1453px no-repeat;
					}
					&.link{
						background: url(../images/icons.png) -109px -1453px no-repeat;
					}
				}
				&:hover{
					a{
						display: inline-block;
					}
				}
			}
			.name{
				color: @gray;
				font-size: 1.5em;
				font-family: 'playbold';
				margin-bottom: 0;
			}
			.role{
				color: @red;
				font-size: 1em;
				font-family: 'open_sansbold';
			}
		}
		.flex-direction-nav{
			list-style: none;
			li{
				display: inline-block;
				a{
		   			opacity: 1;
				   transition: opacity .3s;
				   -moz-transition: opacity .3s;
				   -webkit-transition: opacity .3s;
					background-image: url(../images/icons.png);
					background-repeat: no-repeat;
					line-height: 50px;
					width: 50px;
					text-indent: -9999px;
					outline: none;
					display: block;
					&.flex-prev{
						background-position: 0 -386px;
						&:hover{
							background-position: 0 -608px;
						}
					}
					&.flex-next{
						background-position: 0 -460px;
						&:hover{
							background-position: 0 -534px;
						}
					}
				}
				a.flex-disabled {
   					opacity: 0;
   				}
			}
		}
	}
	#schedule{
		text-align: center;
		margin-left: 12em;
		margin-right: 12em;
		position: relative;
		padding-bottom: 50px;
		padding-top: 50px;
		.main-title2{
			position: relative;
			.download{
				background: url(../images/icons.png) 111px -769px no-repeat;
				.red-button();
				padding-right: 50px;
				position: absolute;
				right: 10%;
				top: 0;
			}
		}
		.timeline{
			font-size: 1.1em; 
			position: relative;
			padding: 0;
			margin: 0;
			&:before {
				background-color: @gray2;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				-ms-border-radius: 3px;
				-o-border-radius: 3px;
				border-radius: 3px;
				content: "";
				height: 100%;
				left: 178px;
				position: absolute;
				top: 0;
				width: 5px;
			}
		}
		.time{
			font-family: 'open_sansbold';
			font-weight: bold;
			float: left;
			width: 200px;
		}
		.circle{
			width: 57px;
			height: 62px;
			background: url(../images/icons.png) 14px -671px no-repeat;
			position: absolute;
			left: 145px;
		}
		.description-box{
			float: left;
			background-color: @white;
			width: 66%;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
			border-radius: 10px;
			margin-bottom: 30px;
			margin-left: 40px;
			padding-left: 20px; 
			position: relative;
			.title-container{
				width: 100%;
				display: inline-block;
				.title{
					float: left;
					text-transform: uppercase;
					color: @red;
					font-family: 'open_sansbold';
					font-weight: bold;
				}
				.title2{
					float: left;
					padding-left: 20px;
				}
			}
			.toggler{
				background: url(../images/icons.png) 4px -940px no-repeat;
				width: 48px;
				height: 50px;
				position: absolute;
				right: 14px;
				top: 5px;
				cursor: pointer;
			}
			.content{
				border-top: 2px solid @gray2;
				font-weight: normal;
				text-align: left;
				margin-right: 20px;
			}
		}

	}
	#map{
		position: relative;
		padding-top: 50px;
		#map-canvas {
        	width: 100%;
        	height: 500px;
      	}
      	#red-box{
      		margin-top: 30px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
      		padding: 20px;
      		width:36%;
      		background-color: @red;
      		color:@white;
      		position: absolute;
      		left: 5%;
      		z-index: 1000;
      		a{
      			color: @white;
      		}
      		h3,p{
      			margin-bottom: 0.5em;
      			margin-top: 0.2em;
      		}
      		p{
      			margin-bottom: 0.2em;
      			margin-top: 0.2em;
      		}
      	}
	}
	#sponsors{
		padding-top: 50px;
		padding-bottom: 30px;
		text-align: center;
		padding-left: 6em;
		padding-right: 6em;
		background-color: @gray3;
		color: @white;
		h2{
			color: @white;
		}
		p{
			padding-top: 15px;
		}
		img{
			margin-top: 50px;
			margin-bottom: 50px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
footer.footer{
	background-image: url(../images/bg-contact.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 40px;
	text-align: center;
	background-color: @orange;
	color: @white;
	h2{
		color: @white;
	}
	a{
		color: @white;
		&:hover{
			text-decoration:none;
			color: @white;
		}	
	}
	.contact-info2{
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
		div,a{
			background-image: url(../images/icons.png);
			background-repeat: no-repeat;
			float: left;
			width: 33%;
			line-height: 50px;
			padding-left: 55px; 
			text-align: left;
			&.phone{
				background-position: 4px -1829px;
				padding-left: 40px; 
			}
			&.fax{
				background-position: 4px -1623px;
			}
			&.email{
				background-position: 4px -1313px;
			}
		}
	}
	.social-networks{
		padding-top: 45px;
		padding-bottom: 30px;
		width: 360px;
		margin-left: auto;
		margin-right: auto;
		a{
			width: 40%;
			text-align: left;
			background-image: url(../images/icons.png);
			background-repeat: no-repeat;
			padding-left: 60px; 
			line-height: 55px;
			display: inline-block;
			&.twitter{
				background-position: 4px 1px;
				border-right: 1px solid @white;
				padding-right: 30px;	
			}
			&.facebook{
				margin-left: 30px;
				background-position: 4px -105px;	
			}
		}
	}
}