@screen-sm-min:768px;
@screen-md-min:992px;
@screen-lg-min:1200px;

@black:#192235;
@white:#ffffff;
@white2:#f5f5f5;
@blue:#4176fa;
@blue-dark:#0c1c33;
@red:#dc3407;
@yellow:#d29205;
@gray:#3d494f;
@gray2:#67747a;
@gray3:#23262b;
@orange:#a32f10;

.red-button(){
	background-color: @red;
	padding: 12px 35px;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	font-family: 'playregular';
	color: @white;
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,600,800');


@default: 'Open Sans', sans-serif;

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playbold';
    src: url('fonts/play-bold-webfont.eot');
    src: url('fonts/play-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/play-bold-webfont.woff2') format('woff2'),
         url('fonts/play-bold-webfont.woff') format('woff'),
         url('fonts/play-bold-webfont.ttf') format('truetype'),
         url('fonts/play-bold-webfont.svg#playbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playregular';
    src: url('fonts/play-regular-webfont.eot');
    src: url('fonts/play-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/play-regular-webfont.woff2') format('woff2'),
         url('fonts/play-regular-webfont.woff') format('woff'),
         url('fonts/play-regular-webfont.ttf') format('truetype'),
         url('fonts/play-regular-webfont.svg#playregular') format('svg');
    font-weight: normal;
    font-style: normal;

}