/* All the styles that you would normally find in the style.css */

/* micro clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

/* wp-specific classes */
.wp-caption{
	
}

.wp-caption-text{
	
}

.sticky{
	
}

.gallery-caption{
	
}

/* layout */

body{
	padding-top: 60px;
}

/* Admin Top Navigation fixes */

body.admin-bar .navbar-fixed-top{ 
	top: 28px; 
}

.navbar .brand{
	color: #000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
	font-weight: bold !important;
}

.nav-container{
	padding-left: 0;
	padding-right: 0;
}

#inner-header{
	width: 100%;
}

input, textarea, select, .uneditable-input {
	margin-bottom: 0;
}

.navbar-search{
	padding-left: 0;
}

#searchform{
	#s{
		width: 76%;
	}
	input[type="submit"]{
		width: 22%;
		display: inline-block;
	}
}

#content{
	padding: 10px 0 0;
}

.more-link{
	white-space: nowrap;
}

.footer-links{
	float: right;
	margin-bottom: 18px;
}

.footer-links .menu{
	list-style-type: none;
	margin-left: 0;
}

.footer-links .menu li{
	float: left;
	margin-left: 10px;
}

/* navbar */

ul.nav {
	li.dropdown:hover > ul.dropdown-menu {
    /*	display: block;    */
    /* */
	}

	li.dropdown > ul.dropdown-menu .dropdown-menu{
		left: 100%;
		top: 0;
		// padding-top: 0;
		margin-top: -6px;
		border-radius: 0 @border-radius-base @border-radius-base 0;
	}

	>li.dropdown > ul.dropdown-menu > li.dropdown:hover ul.dropdown-menu{
		border-radius: 0 0 @border-radius-base 0;
	}

	.dropdown{
		> .dropdown-menu{
			.caret{
				border-top: 4px solid transparent;
				border-left: 4px solid @link-color;
				border-bottom: 4px solid transparent;
				border-right-width: 0;
			}
		}
	}
}

/* post styling */

#main p.meta{
	font-style: italic;
	color: #808080;
}

#main article{
	margin-bottom: 18px;
	border-bottom: 1px solid #eeeeee;
	padding: 0 0 9px;
}

#main article footer{
	border-top: none;
	margin-top: 0;
	padding-top: 0;
	position: relative;
	min-height: 20px;
}

#main article footer a.edit-post{
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.post:hover a.edit-post{
	display: inline;
}

p.tags{
	line-height: 20px;
}

div[id*='attachment_']{
	max-width: 100%;
	height: 100%;
}

#main .hero-unit img{
	margin-bottom: 1em;
}

#main article img{
	height: auto;
	max-width: 100%;
}

img.alignleft{
	margin-right: 10px;
	float: left;
}

img.alignright{
	margin-left: 10px;
	float: right;
}

img.aligncenter{
	display: block;
	margin: 0 auto;
}

.archive #main .post h3{
	line-height: 24px;
	margin-bottom: 10px;
}

video {
	max-width: 100%;
	height: auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	width: 630px;
	max-width: 100%;
	margin-bottom: 18px;
}

/* page styling */

#featured-carousel .item{
	width: 970px;
	height: 600px;
}

.carousel-caption p{
	display: none;
}

.page-template-page-homepage-php #main article{
	border-bottom: none;
}

.page-template-page-homepage-php .hero-unit,
.blog .hero-unit{
	padding: 1em;
}

.hero-unit h1 {
	font-size: 3em;
}

/* comments */



#comments{
	line-height: 24px;
	margin-bottom: 18px;
}

ol.commentlist,
ol.commentlist ul.children{
	list-style-type: none;
	padding-left: 0;
}

.comment .vcard > div{
	margin-top: 8px;
	padding: 0 10px;
}

ol.commentlist time{
	font-size: .8em;
	color: #eeeeee;
}

ol.commentlist div.comment-author{
	position: relative;
}

ol.commentlist a.comment-edit-link{
	color: #ffffff;
	text-decoration: none;
	padding-left: 5px;
}

ol.commentlist span.edit-comment{
	position: absolute;
	right: 0;
	top: 8px;
}

ol.commentlist li.bypostauthor{
	background-color: #dddddd;
}

ol.commentlist ul.children li{
	background-color: #cccccc;
}

ol.commentlist ul.children li ul.children li{
	background-color: #bbbbbb;
}

ol.commentlist ul.children li ul.children li ul.children li{
	background-color: #aaaaaa;
}

ol.commentlist article{
	border-bottom: none !important;
}

a.comment-reply-link{
	position: absolute;
	right: 0;
	bottom: 0;

	.btn;
	.btn-sm;
	.btn-success;
}

#cancel-comment-reply-link{
	.btn;
	.btn-xs;
	.btn-warning;
	margin-left: 1em;
}

#comment-nav ul{
	list-style-type: none;
	margin: 0;
}

#comment-form-elements{
	list-style-type: none;
	margin: 0;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment{
	.form-group;

	input,
	textarea{
		.form-control;
	}

	textarea{
		height: auto;
	}
}

.form-allowed-tags{
	code{
		white-space: normal;
	}
}

.form-submit{
	input[type='submit']{
		.btn;
		.btn-primary;
	}
}

.comment .vcard .avatar{
	padding-right: 0;
}

.comment .vcard .comment-text{
	margin-left: 0;
}

img.avatar{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-left: 1px solid #ddd;
	
}

ol.commentlist li{
	padding-right: 10px;
	background-color: #F0F0F0;
}

#pings{
	margin-bottom: 9px;
}

ol.pinglist{
	list-style-type: none;
	margin: 0 0 9px 0;
}

ol.commentlist #respond{
	padding: 5px 10px;
}

/* specific post-type styles */

/* image attachment */

.attachment #main .post_content img{
	max-width: 100%;
}

.ie8 #main .media-grid img{
	max-height: none !important;
	max-width: none !important;
}

.attachment-img{
	margin-bottom: 18px;
}

.metadata p.alert-message{
	margin-right: 0;
	margin-bottom: 18px;
}

#gallery-nav{
	list-style-type: none;
	margin-left: 0;
}

li.next a, li.previous a{
	position: relative;
}

li.next a:hover:before{
	content: "\2190";
	position: absolute;
	display: block;
	top: 42%;
	left: 0;
	background-color: #BFBFBF;
	color: #444;
	width: 20px;
	height: 20px;
	padding-left: 5px;
	text-decoration: none;
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

li.previous a:hover:before{
	content: "\2192";
	position: absolute;
	display: block;
	top: 42%;
	right: 0;
	background-color: #BFBFBF;
	color: #444;
	width: 20px;
	height: 20px;
	padding-left: 5px;
	text-decoration: none;
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

/* widget styles */

.widget{
	margin-bottom: 18px;
}

.widgettitle{
	margin-bottom: 9px;
}

#tag-cloud{
	margin-bottom: 18px;
	line-height: 160%;
}

.tags{
	a{
		.label;
		.label-default;
	}
}

/* override standard link hover for the tag cloud widget */
#tag-cloud a:hover,
.tags a:hover{
	color: #ffffff;
	text-decoration: none;
}

#tag-cloud a{
	white-space: pre;
	text-transform: uppercase;
}

/* change default form padding for search */

.widget_search form{
	padding-left: 0;
}

/* calendar widget */

#calendar_wrap{
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}

#wp-calendar{
	width: 100%;
}

#wp-calendar caption{
	font-weight: bold;
	padding: 8px;
}

#wp-calendar tr{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#wp-calendar tr:last-child{
	border-bottom: none;
}

#wp-calendar td{
	text-align: center;
	padding: 8px 0;
}

blockquote.pull-left{
	padding-right: 15px;
}

@media only screen and (min-width: 768px) {
	.carousel-caption p{
		display: block;
	}
}

@media only screen and (min-width: 980px) {
	body{
		padding-top: 60px;
	}
	
	.container-fluid{
		max-width: 970px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#inner-footer{
		padding: 0;
	}
	
	#content{
		padding-left: 0;
		padding-right: 0;
	}
	
	.topbar-inner{
		padding: 0;
	}
	
	.topbar form.pull-right {
		float: right;
	}
	
	.navbar-search{
		padding-left: 0;
	}
	
	.blog .hero-unit{
		margin-top: 10px;
	}
	
	.page-template-page-homepage-php .hero-unit,
	.blog .hero-unit{
		padding: 60px;
	}
	
	.hero-unit h1 {
		font-size: 60px;
	}
	
	/* hide edit comment button and show on hover on desktop version */
	.edit-comment{
		display: none;
	}
	
	.vcard:hover .edit-comment{
		display: inline-block;
	}
	
	.comment .vcard .comment-text{
		padding-left: 0;
		padding-right: 0;
	}
}
